<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Nexus Connection Test</title>
  <link rel="stylesheet" type="text/css" href="./../style.css">
</head>

<body>

<div>
  <h1>Salve, Munde!</h1>
  <p>Mobile Conn Page</p>
  <div id='initialize-box'></div>
</div>

</body>
  <script src='./dist/imperio.min.js'></script>
  <script src='./mobile.js'></script>
</html>
